parameters:
    level: 3
    paths:
        - .
    excludePaths:
        - vendor/*
        - tests/*
    fileExtensions:
        - php
    reportUnmatchedIgnoredErrors: false
    scanDirectories:
        - .
    bootstrapFiles:
        - includes/config.php
    ignoreErrors:
        - '#Variable \$dbh might not be defined.#'
        - '#Variable \$msg might not be defined.#'
        - '#Variable \$error might not be defined.#'
        - '#Variable \$totlcount might not be defined.#'
        - '#Parameter \#1 \$string of function htmlentities expects string#'
        - '#File ends with a trailing whitespace#'
        - '#If condition is always false.#' 